.hidden {
  visibility: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: zain;
}

a:hover {
  color: rgba(52, 7, 165, 0.85);
  text-decoration: underline;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  flex: 1;
}

h1 {
  margin-top: 10px;
}

.about-us-paragraph {
  font-family: zain, arial, sans-serif;
  font-size: 18px;

  margin: 8px 10px 0 10px;
}