.hidden {
  visibility: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: zain;
  overflow-x: hidden;

  background-color: rgb(225, 225, 225);
}

a {
  text-decoration: none;
}

.text-link {
  color: blue;
}

.text-link:hover {
  color: rgba(52, 7, 165, 0.85);
  text-decoration: underline;
}

.text-link:hover .exempt {
  text-decoration: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  

  flex: 1;
}

.logged-out-message {
  font-size: 20px;
  margin-top: 20px;
  line-height: 24px;
}

.confused-turtle-img {
  width: 350px;
  margin-top: 15px;
}