.hidden {
  visibility: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: zain;
  overflow-x: hidden;
}

a:hover {
  color: rgba(52, 7, 165, 0.85);
  text-decoration: underline;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  

  flex: 1;
  background-color: rgba(245,245,245,1);
}

.sub-header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  background-color: rgb(0,93,108);
  color: white;
}

.sub-header {
  font-size: 38px;
}

.empty-cart-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 10px;
}

.empty-cart-message {
  padding-top: 22px;
  font-size: 30px;
  margin-bottom: 15px;
}

.browse-products-link {
  font-size: 20px;  
}

.products-container {
  padding-bottom: 100px;
}

.item-container {
  width: 80vw;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 10px;

  background-color: white;
}

.product-img {
  width: 130px;
  flex: 1;

  margin-top: 10px;
}

.product-name {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 8px 25px 0 25px;

  color: blue;
  text-decoration: none;
}

.turtle-container {
  display: flex;
  justify-content: center;

  width: 100px;
  margin-top: 10px; 
}

.turtle-icon {
  width: 22px;
}

#halved-turtle-icon {
  width: 12.1px;
}

.product-price {
  color: rgb(250,0,50);
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
  
  margin-bottom: 12px;
}

.edit-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 115px;
  height: 38px;
  margin-bottom: 5px;
  border-radius: 20px;
  border: 3px solid rgb(0,93,108);

  font-size: 16px;
}

.decrease-product-icon {
  margin-left: 8px;
}

.product-quantity {
  font-size: 20px;
  margin-top: 2px;
}

.increase-product-icon {
  margin-right: 8px;
}

.sticky-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: rgba(210,210,210,1);
  position: fixed;
  z-index: 1000;
  bottom: 27px;
  width: 100vw;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.subtotal-text {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.sticky-footer-button {
  background-color: rgb(0,93,108);
  color: white;
  border: 1px solid rgba(240,240,240, 0.35);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  border-radius: 20px;

  height: auto;
  width: auto;
  padding: 4px 10px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .item-container {
    width: 50vw;
  }

  .product-img {
    width: 140px;
  }

  .product-name {
    font-size: 20px;
  }

  .turtle-icon {
    width: 24px;
  }

  #halved-turtle-icon {
    width: 13.2px;
  }
}