.hidden {
  visibility: hidden;
}

html, body {
  height: 100%;
  margin: 0;

  background-color: rgb(225,225,225);
}

body {
  overflow-x: hidden;
  font-family: Zain, arial, sans-serif;
}

span {
  white-space: nowrap;
}

a:hover {
  color: rgba(52, 7, 165, 0.85);
  text-decoration: underline;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.title-div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #005d6c;
  color: white;
  width: 100vw;
  margin-bottom: 20px;
}

.title {
  align-self: center;
  font-size: 42px;
}

.content-container {
  display: flex;
}

.order-summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40vw;
  margin: 0 20px 8px 20px;
}

.order-summary-title {
  font-size: 26px;
  margin-bottom: 15px;
}

.item-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40vw;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  margin-bottom: 12px;
  background-color: white;
}

.product-img {
  width: 100px;
  flex: 1;

  margin-top: 8px;
}

.product-name {
  width: 1fr;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 7px 22px 0 22px;

  color: blue;
  text-decoration: none;
}

.turtle-container {
  display: flex;
  justify-content: center;

  margin-top: 2px; 
}

.turtle-icon {
  width: 20px;
}

#halved-turtle-icon {
  width: 11px;
}

.product-price {
  color: rgb(250,0,50);
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  
  margin-bottom: 2px;
}

.edit-item-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 32px;
  border-radius: 20px;
  border: 2.5px solid rgb(0,93,108);
  margin-bottom: 10px;

  font-size: 11px;
}

.product-quantity {
  font-size: 18px;
  margin-top: 2px;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.address-container {
  display: flex;
  flex-direction: column;

  background-color: white;

  margin: 76px 15px 10px 18px;
  padding: 3px 3px 8px 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border-radius: 4px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
}

form {
  margin: 0 20px;
}

.address-title {
  align-self: center;

  font-size: 22px;
  font-weight: 600;
  margin: 6px 0 10px 0; 
  border-bottom: 2px solid black;
}

.fa-truck-fast {
  margin-left: 5px;
}

.radio-option {
  display: flex;
  margin-bottom: 5px;

  font-weight: 400;
}

label {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin-right: 6px;
}

.delivery-message {
  color: red;
  font-size: 14px;
}

.update-delivery-info {
  align-self: center;

  color: blue;
  cursor: pointer;
}

.update-delivery-info:hover {
  color: rgba(52, 7, 165, 0.85);
  text-decoration: underline;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  font-size: 18px;

  width: auto;
  height: auto;

  padding: 4px 4px 8px 4px;
  margin: 20px 15px 0 15px; 
  border-radius: 4px;

  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  background-color: white;
}

.info-text-container {
  display: flex;

  font-size: 20px;
}

.words-container {
  display: flex;
  flex-direction: column;
  
  margin: 0 40px 0 7px;
}

.values-container {
  display: flex;
  flex-direction: column;
  
  margin-right: 7px;
}

#total {
  font-weight: 700;
}

.place-order-button {
  align-self: center;

  background-color: rgb(0,93,108);
  color: white;
  font-size: 20px;
  cursor: pointer;

  border: none;
  border-radius: 12px;
  padding: 2px 9px;
  margin-top: 15px;
}

@media (min-width: 1200px) {
  .order-summary-container {
    width: 25vw;
    margin: 0 100px;
  }

  .order-summary-title {
    font-size: 28px;
  }

  .item-container {
    width: 45vw;
  }

  .product-image {
    width: 115px;
  }

  .product-name {
    font-size: 18px;
  }

  .item-container {
    width: 25vw;
    align-self: flex-start;
  }

  .order-container {
    margin-right: 100px;
  }
}