.hidden {
  visibility: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: zain, arial, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;

  flex: 1;
  font-family: kantumruy pro, arial, sans-serif;
}

.product-main-container {
  display: flex;
  align-items: center;

  height: auto;
  max-width: 100vw;
  margin: 25px 0 0 10px;
}

.product-img {
  display: inline-block;

  max-height: 450px;
  width: 100%;
  max-width: 200px;
  margin: 0 0 10px 15px;
}

.product-description-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.product-name {
  margin: 20px 22px 0 22px;

  width: auto;
  font-size: 20px;
  font-weight: 450;
}

.price {
  align-self: start;
  margin: 10px 0 10px 22px;

  color: rgb(60, 60, 60);
  font-weight: bold;
  font-size: 20px;
}

.rating-num {
  margin-left: 20px;
  font-size: 16px;
}

.rating-section {
  display: flex;
  align-items: center;
}

.turtle-rating-container {
  display: flex;
  align-items: center;

  width: 110px;
  height: 35px;
  margin-left: 5px;
}

.turtle-icon {
  width: 24px;
}

#halved-turtle-icon {
  width: 13.2px; 
}

.ratings-count {
  margin-left: 18px;

  font-size: 14px;
  font-weight: 450;

  color: rgb(8, 106, 171);
}

.reviews-count {
  margin-left: 8px;

  font-size: 14px;
  font-weight: 450;

  color: rgb(8, 106, 171);
}

.divider {
  margin: 0 5px 0 10px;
}

.reviews-count:hover {
  text-decoration: underline;
}

.amnt-available {
  color: red;
  font-size: 12px;
}

.user-prompts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button {
  width: 135px;
  height: 35px;
  font-size: 18px;
  margin: 25px 5px 25px 45px;

  background-color: rgb(11, 53, 167);
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}


.add-to-cart-button:hover {
  background-color: rgb(3, 3, 85);
}

.display-added-now:hover, .display-added-later:hover {
  background-color: white;
}

.buy-now-button {
  width: 135px;
  height: 35px;
  font-size: 18px;
  margin: 25px;

  background-color: teal;
  color: white;
  border: none;
  border-radius: 10px;
}

.buy-now-button:hover {
  background-color: rgb(0, 103, 103);
}

.added-message {
  align-self: center;
  text-align: center;

  color:  green;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.added-message-link {
  color: blue;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  flex: 1fr;

  margin: 0 10px;
}

.description-container, .product-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

h2 {
  margin-top: 10px;

  font-size: 24px;
  font-weight: 650;
}

.description {
  margin: 6px 20px;
  line-height: 28px;
}

h3 {
  margin-top: 10px;
  font-size: 24px;
}

ul {
  align-self: flex-start;
  margin-bottom: 20px;
}

li {
  font-size: 14px;
  margin-top: 5px;
}

.review-title-container {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

h4 {
  font-size: 24px;

  align-self: center;
}


.review-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin: 15px 0 25px 20px;
}

#review-rating-section {
  align-self: center;

  margin-top: 15px;
}

.reviewer-profile {
  display: flex;
  align-items: center;
}

.reviewer-name {
  margin-left: 8px;
}

.reviewer-rating {
  margin-top: 5px;
}

.review-text {
  margin-top: 8px;
}

@media (min-width: 800px) {
  .product-img {
    margin-left: 100px;
  }

  .product-name, .price {
    font-size: 22px;
  }

  .rating-section {
    margin-top: 8px;
  }

  .rating-num {
    font-size: 18px;
  }

  .turtle-rating-container {
    width: 130px;
  }

  .turtle-icon {
    width: 28px;
  }

  #halved-turtle-icon {
    width: 15.4px;
  }

  .ratings-count, .reviews-count {
    font-size: 14px;
  }

  .add-to-cart-button, .buy-now-button {
    width: 160px;
    height: 40px;
    border-radius: 12px;
  }
 
  .add-to-cart-button {
    margin: 25px 15px 25px 65px;
  } 

  .added-message {
    margin-right: 0;
  }
  
  .product-info-container {
    flex-direction: row;
  }

  .description-container {
    width: 60vw;
  }

  .product-details-container {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  h2, h3, h4 {
    font-size: 26px;
  }
}

@media (min-width: 1102px) {
  .price {
    margin-top: 16px;
  }

  .rating-section {
    margin-top: 12px;
  }

  .buy-now-button, .add-to-cart-button {
    margin: 30px;
  }

  .add-to-cart-button {
    margin-left: 220px; 
  }

}

.display-added-now {
  background-color: white;
  color: blue;
  align-self: center;
  margin-left: 0;
  margin-right: 10px;
} 

.display-added-later {
  color: green;
  background-color: white;
  width: 250px;
  margin: 25px 10px 25px 0;
}