.hidden {
  visibility: hidden;
}

body {
  overflow-x: hidden;
}

.main-header {
  display: flex;
  align-items: center;

  height: 50px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  font-family: East Sea Dokdo, arial, sans-serif;
}

.arrow-div {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 30px;
  max-width: 60px;
  width: 60px;
}

.fa-arrow {
  flex-shrink: 0.25;
  transform: translateX(-5px);
  width: 0;
}

.header-logo {
  width: 100%;
  width: 200px;
  height: 35px;
}

.header-links-container {
  display: flex;
  justify-content: space-evenly;

  flex-shrink: 1;
  width: 100%;
  min-width: 120px;
  max-width: 450px;
}

.header-link, .permanent-header-link {
  color: black;
  font-size: 26px;
  text-decoration: none;
}

.header-right-side {
  flex: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcome-message {
 width: 180px; 
 font-size: 18px;
 font-family: zain;
 align-self: center;
 margin-right: -10px;
}

.permanent-header-link {
  font-size: 20px;
  width: 50px;
  text-decoration: underline;
}

.account-message {
  display: flex;
  align-items: center;
  margin-right: -15px;
}

.fa-cart-shopping-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.fa-cart-shopping {
  font-size: 16px;
  margin-right: 20px;
}

.drop-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 50px;
  height: 40px;
  max-width: 100vw;
  min-width: 100vw;
  z-index: 1000;

  box-shadow: 0 0 4px rgba(0,0,0,0.3);

  transition: height 500ms ease;
  overflow: hidden;
}

.drop-header.expanded {
  height: 50px;
}

.drop-header-link {
  color: black;
  text-decoration: none;

  font-family: East Sea Dokdo, arial, sans-serif;
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: zain;
}

.sub-header-container {
  display: flex;
  align-items: center;  

  height: 70px; 
  color: white;
  background-color: rgb(0,93,108);
}

.sub-header {
  width: 100vw;
  text-align: center;
  font-size: 2em;
}

h2 {
  margin-top: 0;
}

.product-container {
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

.item-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: none;
  box-shadow: 0 0 2px rgba(0,0,0,1);
}

.product-img {
  width: 120px;
  flex: 1;

  margin-top: 10px;
}

.product-name {
  width: 1fr;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  margin: 8px 12px 0 12px;
  
  color: blue;
}

.turtle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100px;
  margin-top: 10px; 
}

.turtle-icon {
  width: 20px;
}

#halved-turtle-icon {
  width: 11px;
}

.product-price {
  color: crimson;
  margin-top: 8px;
  font-size: 20px;
  
  margin-bottom: 12px;
}

.browse-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 100vw;
  min-width: 100vw;
  margin-top: 20px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 125px;
  height: 125px;
  border-radius: 50%;

  background-color: red;
}

.fa-browse {
  font-size: 60px;
}

.fa-baby {
  font-size: 68px;
}

#circle-container-1 {
  background-color: rgba(251, 89, 89, 0.5);
}

#circle-container-2 {
  background-color: rgba(128, 0, 128, 0.5);
}

#circle-container-3 {
  background-color: rgba(189, 142, 12, 0.5);
}

#circle-container-4 {
  background-color: rgba(8, 115, 8, 0.5);
}

#circle-container-5 {
  background-color: rgba(113, 157, 237, 0.5);
}

#circle-container-6 {
  background-color: rgba(150, 0, 0, 0.5);
}

.category-title {
  font-size: 24px;
}

@media (max-width: 550px) {
  .browse-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .header-logo {
    min-width: 125px; 
    max-width: 150px;
    margin-left: 3px;
  }

  .header-link {
    visibility: hidden;
  }

  .fa-arrow  {
    color: black;

    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .header-logo {
    margin-left: 15px;
  }
  
  .arrow-div {
    width: 0;
  }

  .drop-header {
    visibility: hidden;
  }

  .browse-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}